__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

checkpoints/*
!checkpoints/.gitkeep
outputs/*
!outputs/.gitkeep
inputs/*
!inputs/.gitkeep

external/GroundingDINO/
external/segment-anything/
external/MobileSAM/
external/SAM2/
external/USD/.codex
